{% extends "login_register_base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block login %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="link-custom secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <br>
  <button class="primaryAction btn btn-light mt-2" type="submit">{% trans "Sign In" %}</button>
</form>

{% endblock %}

{% block register %}

<a href="{% url 'account_signup' %}" class="btn btn-light mt-1">{% trans "Register" %}</a>

{% endblock %}