{% extends "login_register_base.html" %}

{% load crispy_forms_tags %}

{% load account socialaccount %}

{% block login %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form | crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="link-custom secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a>
  <br>
  <button class="primaryAction btn btn-light mt-2" type="submit">Sign In</button>
</form>

{% endblock %}

{% block register %}

<a href="{% url 'account_signup' %}" class="btn btn-light mt-1">Register</a>

{% endblock %}