{% extends "base.html" %}

{% block content %}

<div class="bg-img bg-img-logout"></div>

<div class="container-fluid">
  <div class="row justify-content-center my-5">
    <div class="col-10 col-sm-8 col-lg-6 col-xxl-4 py-4 px-5 bg-dark text-light-custom rounded-3 box-shadow-custom">

      <div class="row">
        <div class="col ps-xxl-4">
          <h1>Sign Out</h1>

          <p>Are you sure you want to sign out?</p>
        </div>
      </div>

      <div class="row">
        <div class="col ps-xxl-4">
          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" class="btn btn-light">Sign Out</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}