{% extends "base_confirm.html" %}

{% load crispy_forms_tags %}

{% block bg_image %}
<div class="bg-img bg-img-password-reset"></div>
{% endblock %}

{% block heading %}
Set Password
{% endblock %}

{% block section_content %}

<form method="POST" action="{% url 'account_set_password' %}" class="password_set">
    {% csrf_token %}
    {{ form | crispy }}
    <!-- <input type="submit" name="action" value="Set Password" /> -->
    <button type="submit" name="action" class="btn btn-light my-3">Set Password</button>
</form>
{% endblock %}