{% extends "base_confirm.html" %}

{% load crispy_forms_tags %}

{% load account %}

{% block bg_image %}
<div class="bg-img bg-img-password-reset"></div>
{% endblock %}

{% block heading %}
Password Reset
{% endblock %}

{% block section_content %}
<h3>{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</h3>

{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<p>The password reset link was invalid, possibly because it has already been used. Please request a <a
        href="{{ passwd_reset_url }}" class="link-custom">new password reset</a>.</p>
{% else %}
{% if form %}
<form method="POST" action="{{ action_url }}" class="password_reset">
    {% csrf_token %}
    {{ form | crispy }}
    <div class="d-flex justify-content-center pt-2 pb-3">
        <input type="submit" name="action" class="btn btn-light" value="Change Password" />
    </div>
</form>
{% else %}
<p>Your password is now changed.</p>
{% endif %}
{% endif %}
{% endblock %}