{% extends "base_confirm.html" %}

{% load crispy_forms_tags %}

{% load account %}

{% block bg_image %}
<div class="bg-img bg-img-password-reset"></div>
{% endblock %}

{% block heading %}
Password Reset
{% endblock %}

{% block section_content %}

{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {{ form | crispy }}
    <div class="d-flex justify-content-center pt-2 pb-3">
        <input type="submit" name="action" class="btn btn-light" value="Reset My Password" />
    </div>
</form>

<p>Please <a class="link-custom" href="{% url 'contact' %}">contact us</a> if you have any trouble resetting your
    password.
</p>
{% endblock %}