{% extends "login_register_base.html" %}

{% load crispy_forms_tags %}

{% block login %}

<a href="{% url 'account_login' %}" class="btn btn-light mt-1">Sign In</a>

{% endblock %}

{% block register %}

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form | crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-light mt-2" type="submit">Register &raquo;</button>
</form>

{% endblock %}