@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&family=Oswald:wght@300;500&family=Lato:wght@300;400&display=swap');

/* Variables for colours used throughout site*/
:root {
    --custom-bg-color1: #464B4F;
    --custom-text-color1: #CACFD4;
    --custom-text-color2: #FFFFFF;
  }


  /* General styles */
body {
    position: relative;
}

main {
    font-family: 'Lato', sans-serif;
}

.bg-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    max-width: 100%;
}

.bg-img-home {
    background: url("../images//restaurant-1.jpg") no-repeat center center;
    background-size: cover;
}

.bg-img-restaurant {
    background: url("../images//restaurant-2.jpg") no-repeat center center;
    background-size: cover;
}

.mw-1400px {
    max-width: 1400px;
}


  /* Navbar */

.navbar-custom .navbar-brand {
    font-family: 'Open Sans Condensed', sans-serif;
    color: var(--custom-text-color2) !important;
}

.navbar-custom .nav-link {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: var(--custom-text-color1) !important;
}

.navbar-custom .nav-link:hover {
    font-weight: 500;
    color: var(--custom-text-color2) !important;
}

.navbar-custom-side {
    background-color: var(--custom-bg-color1);
}


/* Home/Index page */
.home-bg-change {
    color: var(--custom-text-color1);
}

.card-custom {
    background-color: var(--custom-bg-color1);
    columns: var(--custom-text-color1);
    box-shadow: 0 6px 10px rgba(0,0,0,.8), 0 0 6px rgba(0,0,0,.5);
}

.link-custom {
    color: var(--custom-text-color1);
}

.link-custom:hover {
    color: var(--custom-text-color2);
}


/* Footer */
footer {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: var(--custom-text-color1) !important;
}

footer h3 {
    font-weight: 400;
}

footer .vr {
    padding: 0 !important;
    border-left: 1.5px solid var(--custom-text-color1);
    width: 1.5px;
}

.social-links i {
    font-size: 180%;
    color: var(--custom-text-color1) !important;
    padding-right: 2vw;
}

.copyright {
    background-color: var(--custom-bg-color1);
}


/* Media queries */
@media screen and (min-width: 368px) {
    .navbar-custom .navbar-brand {
        font-size: 3em !important;
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    .navbar-custom {
        line-height: 1;
    }
}

@media screen and (min-width: 576px) {
    #main-nav li {
        border-right: 1px solid var(--custom-text-color1);
    }
    
    #main-nav li:nth-last-child(2) {
        border-right: none;
    }
}

@media screen and (min-width: 768px) {
    .card-image {
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 992px) {
    .home-bg-change {
        background-color: transparent !important;
    }
}

@media screen and (min-width: 992px) {
    .home-join-in {
        background-color: var(--custom-bg-color1) !important;
    }
}

@media screen and (min-width: 1200px) {
    .navbar-custom .navbar-brand {
        font-size: 4em !important;
    }
}