@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&family=Oswald:wght@300;500&family=Lato:wght@300;400&display=swap');

/* Variables for colours used throughout site*/
:root {
    --nav-bg-color: #212529;
    --nav-text-color: #CACFD4;
    --nav-text-hover-color: #FFFFFF;
    --nav-side-bg-color: #464B4F;
  }


  /* General styles */
body {
    background: url("../images//restaurant-1.jpg") no-repeat center center;
    max-width: 100%;
    background-size: cover;
}

main {
    font-family: 'Lato', sans-serif;
}

.mw-1400px {
    max-width: 1400px;
}


  /* Navbar */
.navbar-custom .navbar-brand {
    font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-custom .nav-link {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: var(--nav-text-color) !important;
}

.navbar-custom .nav-link:hover {
    font-weight: 500;
    color: var(--nav-text-hover-color) !important;
}

.navbar-custom-side {
    background-color: var(--nav-side-bg-color);
}


/* Home/Index page */
.bg-home {
    background-color: none;
    color: var(--nav-text-color);
}

.bg-home-join-in,
.bg-home-welcome {
    background-color: var(--nav-bg-color);
}

.card-custom {
    background-color: var(--nav-side-bg-color);
    columns: var(--nav-text-color);
    box-shadow: 0 6px 10px rgba(0,0,0,.8), 0 0 6px rgba(0,0,0,.5);
}

.link-custom {
    color: var(--nav-text-color);
}

.link-custom:hover {
    color: var(--nav-text-hover-color);
}


/* Footer */
footer {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: var(--nav-text-color) !important;
}

footer h3 {
    font-weight: 400;
}

footer .vr {
    padding: 0 !important;
    border-left: 1.5px solid var(--nav-text-color);
    width: 1.5px;
}

.social-links i {
    font-size: 180%;
    color: var(--nav-text-color) !important;
    padding-right: 2vw;
}

.copyright {
    background-color: var(--nav-side-bg-color);
}


/* Media queries */
@media screen and (min-width: 368px) {
    .navbar-custom .navbar-brand {
        font-size: 3em !important;
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    .navbar-custom {
        line-height: 1;
    }
}

@media screen and (min-width: 576px) {
    #main-nav li {
        border-right: 1px solid var(--nav-text-color);
    }
    
    #main-nav li:nth-last-child(2) {
        border-right: none;
    }
}

@media screen and (min-width: 768px) {
    .card-image {
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (min-width: 992px) {
    .bg-home {
        background-color: var(--nav-bg-color);
    }

    .bg-home-join-in {
        background-color: var(--nav-side-bg-color);
    }
}

@media screen and (min-width: 1200px) {
    .navbar-custom .navbar-brand {
        font-size: 4em !important;
    }
}