@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&family=Oswald:wght@300;500&family=Lato:wght@300;400&display=swap');

/* Variables for colours used throughout site*/
:root {
    --bs-dark: #212529;
    --custom-color-lighter-dark: #464B4F;
    --custom-color-light: #CACFD4;
    --custom-color-white: #FFFFFF;
}


/* Element selectors */
body {
    position: relative;
}

main {
    font-family: 'Lato', sans-serif;
}


/* Background images for all pages*/
.bg-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    max-width: 100%;
}

.bg-img-home {
    background: url("../images/bg-img-home.jpg") no-repeat center center;
    background-size: cover;
}

.bg-img-restaurant {
    background: url("../images/bg-img-restaurant.jpg") no-repeat center center;
    background-size: cover;
}

.bg-img-restaurant-detail {
    background: url("../images/bg-img-restaurant-detail.jpg") no-repeat center center;
    background-size: cover;
}

.bg-img-login-register {
    background: url("../images/bg-img-login-register.jpg") no-repeat center center;
    background-size: cover;
}

.bg-img-logout {
    background: url("../images/bg-img-logout.jpg") no-repeat center center;
    background-size: cover;
}

.bg-img-add-restaurant {
    background: url("../images/bg-add-restaurant.jpg") no-repeat center center;
    background-size: cover;
}

.bg-img-delete {
    background: url("../images/bg-img-delete.jpg") no-repeat center center;
    background-size: cover;
}

.bg-img-profile {
    background: url("../images/bg-img-profile.jpg") no-repeat center center;
    background-size: cover;
}

.bg-img-edit-profile {
    background: url("../images/bg-img-edit-profile.jpg") no-repeat center center;
    background-size: cover;
}

.bg-img-contact {
    background: url("../images/bg-img-contact.jpg") no-repeat center center;
    background-size: cover;
}


/* Background colours and opacity */
.bg-lighter-dark-custom {
    background-color: var(--custom-color-lighter-dark);
}

.opacity-25-custom {
    background-color: rgba(0, 0, 0, .25);
}

.opacity-50-custom {
    background-color: rgba(0, 0, 0, .5);
}

.opacity-75-custom {
    background-color: rgba(0, 0, 0, .75);
}


/* Text colours */
.text-light-custom {
    color: var(--custom-color-light);
}


/* Widths & Heights */
.mw-325px {
    max-width: 325px;
}

.mw-1400px {
    max-width: 1400px;
}

.mw-1600px {
    max-width: 1600px;
}

.minh-48px {
    min-height: 48px !important;
}


/* Box shadows */
.box-shadow-custom {
    box-shadow: 0 6px 10px rgba(0, 0, 0, .8), 0 0 6px rgba(0, 0, 0, .5);
}

/* Links */
.link-custom {
    color: var(--custom-color-light);
}

.link-custom:hover {
    color: var(--custom-color-white);
}


/* ---------------------------------------------------- SPECIFIC PAGE STYLES */

/* Home page and restaurant page */
.card-custom {
    background-color: var(--custom-color-lighter-dark);
    color: var(--custom-color-light);
}

.page-title hr {
    border: none;
    height: 1px;
    background-color: var(--custom-color-white);
    opacity: 1;
}

.card-image {
    width: 100%;
    max-height: 25vh;
    object-fit: cover;
}

.list-group {
    max-height: 40vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.list-group .list-group-item {
    background-color: var(--custom-color-lighter-dark);
    color: var(--custom-color-white);
}

.list-group .list-group-item:hover {
    cursor: pointer;
    font-weight: bold;
}

.list-group .active {
    border-color: var(--custom-color-white);
    border-radius: .3rem;
    font-weight: bold;
}

.modal-backdrop {
    opacity: .9 !important;
}

.close-model-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.favourite-dishes ul {
    list-style-type: none;
}

.comments-border {
    border-top: 1px solid rgba(255, 255, 255, .25);
}

.login .form-group,
.signup .form-group,
.add-restaurant-form .form-group {
    padding-bottom: 1rem;
}

#id_image {
    max-width: 200px;
}

.msg-animation {
    animation-name: msg-fade;
    animation-duration: 2.7s;
    animation-fill-mode: forwards;
}

@keyframes msg-fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.hr-custom {
    opacity: 1;
}

#dishes-string {
    position: absolute;
    opacity: 0;
}

.edit-link-add,
.edit-link-profile {
    position: absolute;
    top: 0;
    right: 0;
}

.delete-link {
    font-size: 1rem;
    position: absolute;
    top: 0;
    right: 0;
}

.btn-favourite-custom {
    color: var(--custom-color-light);
    border: none;
    background: transparent;
    padding: 0;
}

.profile-image {
    max-width: 60%;
    object-fit: cover;
    min-width: 160px;
}

#div_id_image {
    margin: 1rem auto 0;
}

/* ---------------------------------------------------- BASE.HTML styles */

/* Navbar */
.navbar-custom .navbar-brand {
    font-family: 'Open Sans Condensed', sans-serif;
    color: var(--custom-color-white) !important;
}

.navbar-custom .nav-link {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: var(--custom-color-light) !important;

}

.navbar-custom .nav-link:hover {
    font-weight: 500;
    color: var(--custom-color-white) !important;
}

.navbar-custom-side {
    background-color: var(--custom-color-lighter-dark);
}


/* Footer */
footer {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: var(--custom-color-light) !important;
}

footer h3 {
    font-weight: 400;
}

footer .vr {
    padding: 0 !important;
    border-left: 1.5px solid var(--custom-color-light);
    width: 1.5px;
}

.social-links i {
    font-size: 180%;
    color: var(--custom-color-light) !important;
    padding-right: 2vw;
}

.copyright {
    background-color: var(--custom-color-lighter-dark);
}


/* ---------------------------------------------------- MEDIA QUERIES */
@media screen and (max-width: 368px) {
    .fs-small-custom button,
    .fs-small-custom a {
        font-size: .7em !important;
    }
}

@media screen and (min-width: 368px) {
    .navbar-custom .navbar-brand {
        font-size: 3em !important;
    }
}

@media screen and (max-width: 376px) {
    .favourites-rating {
        max-width: 132px !important;
    }
}

@media screen and (max-width: 425px) {
    .restaurant-description {
        padding-bottom: 0 !important;
    }

    .restaurant-description h5 {
        top: 4px !important;
        right: 0;
        left: 0;
    }

    #comment-submit {
        width: 70%;
    }
}

@media screen and (max-width: 470px) {
    .profile-info-left {
        width: 100%;
    }
    
    .profile-info-right {
        width: 100%;
    }

    .profile-info-left p,
    .profile-info-right p {
        text-align: center !important;
    }

    .edit-link-profile {
        top: -25px;
        right: 0;
        left: 0;
    }
}

@media screen and (max-width: 576px) {
    .edit-link-add {
        top: -10px;
        right: 0;
        left: 0;
    }

    .delete-link {
        right: 0;
        left: 0;
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    .navbar-custom {
        line-height: 1;
    }
}

@media screen and (min-width: 576px) {
    #main-nav li {
        border-right: 1px solid var(--custom-color-light);
    }

    #main-nav li:nth-last-child(3) {
        border-right: none;
    }

    .w-sm-75 {
        width: 75%;
    }
}

@media screen and (max-width: 767px) {
    .base-heading-container {
        text-align: center;
    }

    .base-heading-container .border-end {
        border: none !important;
    }

    .base-heading-container form input {
        margin-right: auto;
        margin-left: auto;
    }

    #id_remember {
        float: none;
    }

    .delete-link {
        top: -30px
    }
}

@media screen and (min-width: 768px) {
    .card-image {
        max-height: 100%;
        height: 100%;
    }

    .comments-border {
        border-top: none;
        border-left: 1px solid rgba(255, 255, 255, .25);
    }

    .base-heading-container .border-top {
        border: none !important;
    }

    .h-md-250px {
        height: 250px;
    }

    .mh-md-220px {
        max-height: 220px;
    }
}

@media screen and (max-width: 992px) {

    .favourites-rating,
    .favourites-span,
    .rating-span {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media screen and (min-width: 992px) {
    .bg-lg-dark-custom {
        background-color: var(--bs-dark);
    }

    .bg-lg-lighter-dark-custom {
        background-color: var(--custom-color-lighter-dark) !important;
    }

    #msg-alert {
        position: absolute;
        top: 2%;
    }

    .h-lg-100 {
        height: 100%;
    }

   .mw-lg-600px {
       max-width: 600px;
   }
}

@media screen and (min-width: 1200px) {
    .navbar-custom .navbar-brand {
        font-size: 4em !important;
    }

    .w-xl-25 {
        width: 25% !important;
    }

    .w-xl-100 {
        width: 100%;
    }
}