{% extends "base_heading_split.html" %}

{% load crispy_forms_tags %}

{% load i18n %}

{% block bg_image %}
<div class="bg-img bg-img-add-restaurant"></div>
{% endblock %}

{% block heading %}
{% trans "Add Restaurant" %}
{% endblock %}

{% block left %}

<form class="add-restaurant-form" action="{% url 'add_restaurant' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form | crispy }}


    {% endblock %}

    {% block right %}
    <h4 class="text-center">{% trans "Favourite Dishes" %}</h4>

    <label for="dishes-input">Add dishes (hit enter after each dish)*</label>
    <input type="text" name="dishes-input" id="dishes-input" class="form-control">
    <input type="text" name="dishes-string" id="dishes-string" required>

    <div class="row justify-content-evenly favourite-dishes">
        <div class="col-8">
            <ul class="my-4 p-0" id="dishes-container">
            </ul>

        </div>
    </div>
    <hr class="hr-custom m-0">
    <div class="d-flex justify-content-center pt-4">
        <button type="submit" class="btn btn-light">Submit Restaurant</button>
    </div>
</form>
{% endblock %}