{% extends "base_heading.html" %}

{% block section_content %}

<div class="row g-0 mt-4 py-2">
    <div class="col-12 col-md-6 mb-3 mb-md-0 border-end border-light border-1">
        <div class="row justify-content-center mx-auto">
            <div class="col-12 col-lg-9">
                {% block left %}
                {% endblock left %}
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 pt-3 pt-md-0 border-top border-light border-1">
        <div class="row justify-content-center mx-auto ps-md-3">
            <div class="col-12 col-lg-9">
                {% block right %}
                {% endblock right %}
            </div>
        </div>
    </div>
</div>

{% endblock %}