{% extends "base.html" %}

{% block content %}

{% block bg_image %}
{% endblock bg_image %}

<div class="container-fluid mw-1600px base-heading-container">
    <div class="row justify-content-center my-5">
        <div class="col-10 col-lg-8 p-5 bg-dark text-light-custom rounded-3 box-shadow-custom">

            <h3 class="text-center text-uppercase pb-4 border-bottom border-light border-1 position-relative">
                {% block heading %}
                {% endblock heading %}
            </h3>

            {% block section_content %}
            {% endblock %}

        </div>
    </div>
</div>


{% endblock %}