<div class="row justify-content-center page-title">
    <div class="col-10 mb-1 p-2 text-light">
        <h4 class="text-center m-1">Filters</h4>
        <hr class="m-1">
        <h5 class="mt-4 ps-2">Cuisine</h5>
        <ul class="list-group list-group-flushrounded-3">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div>All</div>
                </div>
                <span class="badge bg-dark rounded-pill">{{ cuisine_count }}</span>
            </li>
            {% for cuisine in cuisine_list %}
            {% if cuisine.restaurant_count != 0 %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div>{{ cuisine.name }}</div>
                </div>
                <span class="badge bg-dark rounded-pill">{{ cuisine.restaurant_count }}</span>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <h5 class="mt-4 ps-2">Location</h5>
        <ul class="list-group list-group-flush rounded-3">
            {% for restaurant in restaurant_list %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div>{{ restaurant.location }}</div>
                </div>
                <span class="badge bg-dark rounded-pill">14</span>
            </li>
            {% endfor %}
        </ul>
        <div class="d-flex justify-content-center">
            <button class="btn btn-light fs-5 mt-4 w-75 box-shadow-custom">Apply Filter</button>
        </div>
    </div>
</div>