{% extends "base.html" %}

{% block content %}

<div class="container-fluid px-lg-5 mw-1400px">
    <div class="row my-lg-4 mx-lg-5 py-lg-4 justify-content-evenly align-items-center rounded-3 bg-home">
        <div class="order-lg-2 col-7 col-sm-5 col-md-4 col-lg-3 my-3 mx-2 text-center rounded-3 bg-home-join-in">
            <p class="m-2">
                <small>If you'd like to join in, please </small>
                <a href="#">sign in</a>
                <small> or </small>
                <a href="#">register</a>.
            </p>
        </div>
        <div class="order-lg-1 col-10 col-sm-8 col-lg-7 col-xl-6 col-xxl-5 mb-3 mb-lg-0 mx-2 py-4 text-center rounded-3 bg-home-welcome">
            <h2><strong>Welcome to Foodie Favourites!</strong></h2>
            <p class="w-75 m-auto">A place to share and discover your favourite restaurants and dishes.</p>
        </div>
    </div>
</div>

{% endblock %}