{% extends "base_heading_split.html" %}

{% block bg_image %}
<div class="bg-img bg-img-profile"></div>
{% endblock %}

{% block heading %}
{{ profile.slug }}'s profile
{% endblock %}

{% block left %}
<h4 class="text-center">Profile Info</h4>
{% if user.username == profile.slug %}
<div class="edit-link-profile">
    <a href="{% url 'edit_profile' user.username %}" class="link-custom me-sm-2 me-xl-4">(Edit)</a>
</div>
{% endif %}

{% if "default" in profile.image.url %}
<div class="d-flex justify-content-center w-100 py-3">
    <img src="/static/images/default-profile.png" class="rounded profile-image" alt="Default image for user profiles">
    {% else %}
    <img class="rounded profile-image" src="{{ profile.image.url }}" alt="Uploaded image for user's profile">
    {% endif %}
</div>

<div class="row justify-content-center">
    <div class="col-4 profile-info-left">
        <p class="text-end fw-bold">Name:</p>
    </div>
    <div class="col-8 profile-info-right">
        {% if profile.name != '' %}
        <p class="text-start">{{ profile.name }}</p>
        {% else %}
        <p class="text-start">{{ profile.user }}</p>
        {% endif %}
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-4 profile-info-left">
        <p class="text-end fw-bold">Location:</p>
    </div>
    <div class="col-8 profile-info-right">
        <p class="text-start">{{ profile.location }}</p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-4 profile-info-left">
        <p class="text-end fw-bold">Favourite cuisine:</p>
    </div>
    <div class="col-8 profile-info-right">
        <p class="text-start">{{ profile.favourite_cuisine }}</p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-4 profile-info-left">
        <p class="text-end fw-bold">Bio:</p>
    </div>
    <div class="col-8 profile-info-right">
        <p class="text-start">{{ profile.bio }}</p>
    </div>
</div>

<div class="row">
    <div class="col-12 px-0 px-md-2">
        <hr class="hr-custom m-0">
        {% if user.username == profile.slug %}
        <div class="d-flex justify-content-center mt-4 mb-1">
            <a href="{% url 'account_email' %}" class="btn btn-light">Update Email</a>
        </div>
        <div class="d-flex justify-content-center mt-4 mb-1">
            <a href="{% url 'account_change_password' %}" class="btn btn-light">Update Password</a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block right %}
{% if current_list == 'posts' %}
<h4 class="text-center">Restaurants Posted</h4>
{% else %}
<h4 class="text-center">Favourited Posts</h4>
{% endif %}
<div class="d-flex justify-content-center mt-3 mb-2">
    <form id="profile-toggle-form" action="{% url 'profile' profile.slug %}" method="get">
        <input type="hidden" name="posts-favourites-toggle" id="posts-favourites-toggle" value="Posts" required>
        {% if current_list == 'posts' %}
        <button type="button" class="btn btn-light" id="btn-posts-favourites-toggle">Show Favourites</button>
        {% else %}
        <button type="button" class="btn btn-light" id="btn-posts-favourites-toggle">Show Restaurants
            Posted</button>
        {% endif %}
    </form>
</div>
{% for restaurant in page_obj.object_list %}
<div class="card my-4 card-custom box-shadow-custom text-center">
    <div class="row g-0">
        <div class="col-12 mh-md-220px">
            <a href="{% url 'restaurant_detail' restaurant.slug %}">
                {% if "default" in restaurant.image.url %}
                <img src="/static/images/default-restaurant.jpg" class="img-fluid rounded card-image"
                    alt="Default image for restaurants posts">
                {% else %}
                <img class="img-fluid rounded card-image" src="{{ restaurant.image.url }}"
                    alt="Uploaded image for restaurant's post">
                {% endif %}
            </a>
        </div>
        <div class="col-12 d-flex align-items-center">
            <div class="card-body">
                <a href="{% url 'restaurant_detail' restaurant.slug  %}" class="link-custom">
                    <h4 class="card-title">{{ restaurant.name }}</h4>
                </a>
                <p class="card-text">
                    Added by
                    <a href="{% url 'profile' restaurant.author_slug %}" class="link-custom">{{ restaurant.author }}</a>
                    on {{ restaurant.created_on }}
                </p>
                <p class="card-text">Cuisine: {{ restaurant.list_cuisines }}</p>
                <p class="card-text">Location: {{ restaurant.location }}, {{ restaurant.county }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% if page_obj.has_other_pages %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center my-2">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}&{{ get_copy.urlencode }}"
                class="page-link bg-light text-dark rounded-3 fw-bold box-shadow-custom mx-2">&laquo; PREV </a>
        </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}&{{ get_copy.urlencode }}"
                class="page-link bg-light text-dark rounded-3 fw-bold box-shadow-custom mx-2"> NEXT &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}