{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="bg-img bg-img-restaurant-detail"></div>

<div class="container-fluid my-5">
    <div class="row justify-content-center mw-1600px mx-auto">
        <div class="col-10">
            <div class="card bg-dark text-white box-shadow-custom text-center">
                <div class="row g-0">
                    <div class="col-md-4">
                        {% if "default" in restaurant.image.url %}
                        <img src="/static/images/default-restaurant.jpg" class="img-fluid rounded card-image"
                            alt="Default image for restaurants posts">
                        {% else %}
                        <img class="img-fluid rounded card-image" src="{{ restaurant.image.url }}"
                            alt="Uploaded image for restaurant's post">
                        {% endif %}
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                        <div class="card-body h-100 position-relative">
                            {% if user == restaurant.author %}
                            <div class="mt-3 mb-0 edit-link-add">
                                <a href="{% url 'edit_restaurant' restaurant.slug %}"
                                    class="link-custom me-sm-3">(Edit)</a>
                            </div>
                            {% endif %}
                            <h4 class="card-title text-decoration-underline mt-3 mt-sm-0 mb-3 mx-sm-5">{{ restaurant.name }}</h4>
                            <p class="card-text">
                                Added by
                                <a href="{% url 'profile' restaurant.author_slug %}" class="link-custom">{{ restaurant.author }}</a>
                                on {{ restaurant.created_on }}
                            </p>
                            <p class="card-text">Cuisine: {{ restaurant.list_cuisines }}</p>
                            <p class="card-text">Location: {{ restaurant.location }}, {{ restaurant.county }}</p>
                            <hr class="mb-0">
                            <div class="position-relative pt-4 pb-3 restaurant-description">
                                <h5 class="position-absolute top-0 left-0">Description:</h5>
                                <p class="card-text lead mt-2">{{ restaurant.description }}</p>
                            </div>
                            <hr>
                            <div class="row justify-content-evenly favourite-dishes">
                                <div
                                    class="col-10 col-sm-5 mb-3 mb-sm-0 bg-lighter-dark-custom text-light-custom rounded-3 box-shadow-custom">
                                    <h5 class="my-2">Favourite Dishes:</h5>
                                    <ul class="p-0">
                                        {% for dish in dishes %}
                                        <li>{{ dish }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div
                                    class="col-10 col-sm-5 bg-lighter-dark-custom text-light-custom rounded-3 box-shadow-custom">
                                    <h5 class="my-2">Other User's Favourites:</h5>
                                    <ul class="p-0">
                                        <li>Monkey</li>
                                        <li>Treasure lengs</li>
                                        <li>Boss bootles</li>
                                    </ul>
                                </div>
                            </div>
                            <div
                                class="d-flex text-light-custom justify-content-lg-between mt-3 mb-0 favourites-rating">
                                <span class="favourites-span my-2 ms-3 ms-sm-5">
                                    Times Favourited:
                                    {% if user.is_authenticated and user != restaurant.author %}
                                    <form class="d-inline" action="{% url 'restaurant_favourited' restaurant.slug %}" method="POST">
                                        {% csrf_token %}
                                        {% if liked %}

                                        <button type="submit" name="restaurantpost_id" value="{{restaurant.slug}}"
                                            class="btn-favourite-custom"><i class="fas fa-heart"></i></button>

                                        {% else %}

                                        <button type="submit" name="restaurantpost_id" value="{{restaurant.slug}}"
                                            class="btn-favourite-custom"><i class="far fa-heart"></i></button>

                                        {% endif %}

                                    </form>
                                    {% else %}

                                    <i class="far fa-heart text-muted"></i>
                                    {% endif %}
                                    {{ restaurant.number_of_favourites }}
                                </span>
                                <span class="rating-span my-2 me-3 me-sm-5">
                                    Author's Rating:
                                    {% for i in range %}
                                    {% if restaurant.rating > i %}
                                    <i class="fas fa-star"></i>
                                    {% else %}
                                    <i class="far fa-star"></i>
                                    {% endif %}
                                    {% endfor %}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-0 bg-lighter-dark-custom rounded-bottom">
                    <div class="col">
                        <div class="row g-0 my-3 align-items-center">
                            <div class="col-md-4">
                                <h4 class="fs-3 mb-2 m-md-0 py-2 text-decoration-underline">Comments</h4>
                            </div>
                            <div class="col-md-8">
                                <div class="row g-0">
                                    <div class="col-10 mx-auto py-2 px-4 bg-lighter-dark rounded-3 box-shadow-custom msg-animation">
                                        {% if commented %}
                                        <p class="my-auto">
                                            Your comment has been sent for approval.
                                        </p>
                                        {% else %}
                                        {% if user.is_authenticated %}
                                        <form class="row justify-content-center" method="post">
                                            {% csrf_token %}
                                            {{ comment_form | crispy }}
                                            <button type="submit" id="comment-submit"
                                                class="col-4 col-lg-3 col-xl-2 my-1 btn btn-light mt-2">Submit</button>
                                        </form>
                                        {% else %}
                                        <p class="my-auto">If you'd like to leave a comment, please
                                            <a href="{% url 'account_login' %}" class="link-custom">sign in</a> or
                                            <a href="{% url 'account_signup' %}" class="link-custom">register</a>.
                                        </p>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="d-md-none mb-0">
                        {% if comment_count == 0 %}
                        <div class="row g-0 m-2 justify-content-center bg-dark rounded-3">
                            <div class="col-10 p-2">
                                <p class="lead m-0">
                                    There are currently no comments.
                                </p>
                            </div>
                        </div>
                        {% endif %}
                        {% for comment in comments %}
                        <div class="row g-0 my-3 my-md-2 mx-2 align-items-center bg-dark rounded-3">
                            <div class="col-md-4 p-2">
                                <p class="m-0">
                                    <a href="#" class="link-custom">{{ comment.name }}</a>
                                    <br>
                                    on {{ comment.created_on }}
                                </p>
                            </div>
                            <div class="col-md-8 p-2 comments-border">
                                <p class="lead m-0 d-flex justify-content-center align-items-center minh-48px">
                                    {{ comment.content }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}