{% extends "base.html" %}

{% block content %}

<div class="bg-img bg-img-restaurant"></div>

<div class="container-fluid mw-1600px">
    <div class="row w-sm-75 w-xl-100 mt-4 mb-3 my-xl-4 mx-auto justify-content-evenly fs-small-custom">
        <button class="d-xl-none col-4 col-lg-3 btn bg-lighter-dark-custom text-white box-shadow-custom rounded-pill"
            data-bs-toggle="modal" data-bs-target="#filtersModal">Fliters</button>
        {% if user.is_authenticated %}
        <div class="d-none d-xl-block col-xl-3"></div>
        <div class="d-flex col-4 col-lg-3 col-xl-7 p-0 justify-content-center fs-small-custom">
            <a href="{% url 'add_restaurant' %}"
                class="w-100 w-xl-25 btn bg-lighter-dark-custom text-white box-shadow-custom rounded-pill">Add
                Restaurant</a>
        </div>
        {% endif %}
    </div>
    <div class="row justify-content-evenly mx-auto">
        <div class="d-none d-xl-block col-xl-3 mb-5 py-4 bg-dark rounded-3 box-shadow-custom h-100">
            {% include "filters.html" %}
        </div>
        <div class="col-10 col-lg-8 col-xl-7 mb-5 py-4 bg-dark rounded-3 box-shadow-custom">
            <div class="row justify-content-center page-title">
                <div class="col-8 col-sm-5 col-md-4 mb-1 p-2 text-light">
                    <h2 class="text-center m-1">Restaurants</h2>
                    <hr class="m-1">
                </div>
            </div>
            <div class="row g-0 justify-content-center mt-3 mb-2">
                <div class="col-10 py-2 px-3 bg-lighter-dark-custom rounded-3 box-shadow-custom">
                    <div class="row g-0 justify-content-center">
                        <input class="col-11 col-md-8 me-md-2 py-2 px-3 rounded-3" id="search-input"
                            placeholder="Search restaurants..." aria-label="Search" type="search">
                        <button class="col-4 col-md-2 mt-1 mt-md-0 px-0 px-sm-3 btn btn-light rounded-3"
                            id="search-button">Search</button>
                    </div>
                </div>
            </div>

            {% for restaurant in restaurant_list %}
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="card my-4 card-custom box-shadow-custom text-center">
                        <div class="row g-0">
                            <div class="col-md-4 h-md-250px">
                                <a href="{% url 'restaurant_detail' restaurant.slug %}">
                                    {% if "default" in restaurant.image.url %}
                                    <img src="../static/images/default-restaurant.jpg"
                                        class="img-fluid rounded card-image" alt="Default image for restaurants posts">
                                    {% else %}
                                    <img class="img-fluid rounded card-image" src="{{ restaurant.image.url }}"
                                        alt="Uploaded image for restaurant's post">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-md-8 d-flex align-items-center h-md-250px">
                                <div class="card-body">
                                    <a href="{% url 'restaurant_detail' restaurant.slug  %}" class="link-custom">
                                        <h4 class="card-title">{{ restaurant.name }}</h4>
                                    </a>
                                    <p class="card-text">
                                        Added by
                                        <a href="{% url 'profile' restaurant.author_slug %}"
                                            class="link-custom">{{ restaurant.author }}</a>
                                        on {{ restaurant.created_on }}
                                    </p>
                                    <p class="card-text">Cuisine: {{ restaurant.list_cuisines }}</p>
                                    <p class="card-text"></p>Location: {{ restaurant.county }}</p>
                                    <div class="text-muted d-flex justify-content-between mt-3 mb-0 favourties-rating">
                                        <span class="favourties-span ms-3 ms-sm-5">
                                            <i class="far fa-heart"></i>
                                            {{ restaurant.number_of_favourites }}
                                        </span>
                                        <span class="rating-span me-3 me-sm-5">
                                            {% for i in range %}
                                            {% if restaurant.rating > i %}
                                            <i class="fas fa-star"></i>
                                            {% else %}
                                            <i class="far fa-star"></i>
                                            {% endif %}
                                            {% endfor %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <h4 class="my-4 text-center text-light-custom">No restaurants match your search.</h4>
            {% endfor %}
            {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center my-2">
                    {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}&{{ get_copy.urlencode }}"
                            class="page-link bg-light text-dark rounded-3 fw-bold mx-2">&laquo; PREV
                        </a>
                    </li>
                    {% endif %}
                    <!-- CREDIT https://nemecek.be/blog/105/how-to-use-elided-pagination-in-django-and-solve-too-many-pages-problem -->
                    {% for i in page_range|default_if_none:page_obj.paginator.get_elided_page_range %}
                    {% if page_obj.number == i %}
                    <li class="active page-item"><span class="page-link">{{ i }} <span
                                class="sr-only">(current)</span></span>
                    </li>
                    {% else %}
                    {% if i == page_obj.paginator.ELLIPSIS %}
                    <li class="page-item"><span class="page-link">{{ i }}</span></li>
                    {% else %}
                    <li class="page-item"><a class="page-link bg-light text-dark fw-bold" href="?page={{ i }}&{{ get_copy.urlencode }}">{{ i }}</a></li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    <!-- END CREDIT -->
                    {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}&{{ get_copy.urlencode }}"
                            class="page-link bg-light text-dark rounded-3 fw-bold mx-2"> NEXT
                            &raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
</div>

<div class="modal fade" id="filtersModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content mb-5 py-4 bg-dark rounded-3">
            <button type="button" class="bg-lighter-dark-custom text-white fw-bold close-model-button"
                data-bs-dismiss="modal" aria-label="Close">&times;</button>
            {% include "filters.html" %}
        </div>
    </div>
</div>

{% endblock %}